@charset "utf-8";

* { 
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body * {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 2000px;
}

.wrap {
  overflow: hidden;
  width: 100%;
}

/*header*/
header {
  width: 100%;
  height: 180px;
  text-align: center;
  background-color: #fff;
}

/* 상위헤더 */
.hd1 {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

/* 로고영역 */
.logo {
  width: 15%;
  height: 100%;
}

.logo > a {
  display: block;
  width: 80%;
  height: 30%;
  margin-top: 73px;
}

.logo > a > img {
  width: 100%;
  height: 100%;
}

/*유틸영역 부모*/
.search {
  position: relative;
  left: 0;
  width: 35%;
  height: 100%;
}

/* 검색창 */
.search > input {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 90%;
  height: 35%;
  border: 2px solid #000;
  padding: 0 10px ;
  border-radius: 24px;
}

/* 돋보기 아이콘 */
.search > i {
  position: absolute;
  left: 85%;
  bottom: 25px;
  margin-right: 100px;  
}

/* hot */
.hot-wrap {
  position: relative;
  text-align: left;
  top: 50%;
  line-height: 55px;
  width: 30%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.hot-wrap.fl.slick-initialized.slick-slider.slick-vertical >
.slick-list.draggable >
.slick-track >
.slick-slide.slick-current.slick-active > a > span:first-child,
.hot-wrap.fl.slick-initialized.slick-slider.slick-vertical >
.slick-list.draggable >
.slick-track >
.slick-slide > a > span:first-child {
  font-size: 12px;
  color: #8f32d9;
  border: 1px solid #8f32d9;
  padding: 3px;
  border-radius: 0 5px 0px 5px ; 
}

.hot-wrap.fl.slick-initialized.slick-slider.slick-vertical >
.slick-list.draggable >
.slick-track >
.slick-slide.slick-current.slick-active > a > span:nth-child(2), 
.hot-wrap.fl.slick-initialized.slick-slider.slick-vertical >
.slick-list.draggable >
.slick-track >
.slick-slide > a > span:nth-child(2)  {
  font-size: 12px;
  color: #000;
}


/* 유틸영역 */
.spot-wrap {
   width: 15%;
   height: 100%;
   font-size: 12px;
}

/* spot1 = 로그인, 회원가입, 고객센터 */
.spot1 {
  width: 100%;
  height: 40%;
  padding: 10% 0;
}

.spot1 > li{
  width: 33.3%;
  height: 100%;
  text-align: center;
  line-height: 40px;
}

.spot1 > li > a {
  color: #555;
}

.spot1 > li:first-child > a > span  {
  color: red;
}

.spot1 > li:hover > a{
  color: #8f32d9;
}

/*spot2 */
.spot2 {
  width: 100%;
  height: 60%;
}

.spot2 > li {
  width: 33.3%;
  height: 100%;
}

.spot2 > li > a {
  display: block;
  padding: 30% 0;
}

.spot2 > li > a > i {
  font-size: 25px;
}

.spot2 > li > a:hover > i {
  color: #8f32d9;
}

.spot2 > li > a > i > p {
  font-size: 12px;
  font-weight: normal;
  padding: 5px 0;
  align-items: center;
}

/* nav의 자리 선정 */
.nav-wrap {
  position: relative;
  left: 0;
  width: 100vw;
  height: 30%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  font-size: 14px;
}

/* nav의 너비 및 높이 설정*/
.nav1 {
  width: 8%;
  height: 100%;
  margin-left: 15%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 1;
}

.nav1 > li {
  width: 100%;
  height: 100%;
}

.nav1 > li > a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px 0;
  cursor: pointer;
  font-weight: bold;
}

.nav1-gnb {
  position: absolute;
  top: 100%;
  left: -0.1%;
  width: 100vw;
  background-color: #fff;
  padding: 0 15%;
  text-align: left;
  border-top: 1px solid #8f32d9;
  border-bottom: 1px solid #8f32d9;
  line-height: 1.8rem;
  z-index: 10;
  overflow: hidden;
}

.nav1-gnb > li {
  width: 15%;
  height: 200px;
  margin-right: 1%;
  font-weight: bold;
}

.nav1-gnb > li:nth-child(5),
.nav1-gnb > li:nth-child(10) {
  width: 30%;
}

.nav1-gnb > li > a {
  display: block;
  width: 75%;
  border-bottom: 2px solid #000;
  padding: 15px 0;
}


.nav1-sub {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0;
}

.nav1-gnb > li:nth-child(5) > .nav1-sub, 
.nav1-gnb > li:nth-child(10) > .nav1-sub {
  width: 40%;
  height: 100%;
}

.nav2 {
 width: 62%;
 height: 100%; 
}

.nav2 > li {
  height: 100%;
  padding: 0 15px;
  font-weight: bold;
}

/* 너비 임의 지정 */
.nav2 > li:nth-child(11),
.nav2 > li:nth-child(12) {
  width: 8.7%;
}

.nav2 > li > a {
  display: block;
  padding: 15px 0;
  width: 100%;
  height: 100%;
}

.nav2 > li:hover > a {
  border-bottom: 3px solid #8f32d9;
  color: #8f32d9;
}

.nav2 > li:nth-child(11):hover > a,
.nav2 > li:nth-child(12):hover > a,
.nav2 > li:nth-child(13):hover > a,
.nav2 > li:nth-child(14):hover > a {
  border-bottom: none;
}

.nav2 > li:last-child > a > span {
  font-size: 10px;
  color: red;
}

.nav2-gnb {
  position: absolute;
  left: 0%;
  top: 101%;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 0 23%;
  z-index: 10;
  display: none;
}

.nav2-gnb > li {
  font-size: 13px;
  padding: 0 15px;
}

.nav2-gnb > li > a {
  display: block;
  height: 100%;
  padding: 14px 0;
  font-weight: normal;
}

.nav2-gnb > li:hover > a {
  border-bottom: 3px solid #8f32d9;
  color: #8f32d9;
}


/* 서브메뉴 안에 있는 서브메뉴 */
.nav2-sub {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 15%;
  display: none;
  overflow: hidden;
}

.nav2-sub4 {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 15%;
  display: none;
  overflow: hidden;
}

.nav2-sub5 {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 15%;
  display: none;
  overflow: hidden;
}

/* 각 배열마다 높이지정 */
.nav2-sub5.sssub3 {
  height: 10vh;
}

.nav2-sub.sub2,
.nav2-sub4.ssub3,
.nav2-sub4.ssub4,
.nav2-sub4.ssub6, 
.nav2-sub4.ssub7 {
  height: 25vh;
}

.nav2-sub4.ssub5 {
  height: 40vh;
}

.nav2-sub.sub3 {
  height: 45vh;
}

.nav2-sub.sub4{
  height: 35vh;
}

.nav2-sub.sub1,
.nav2-sub4.ssub2 {
  height: 50vh;
}

.nav2-sub.sub6 {
  width: 100%;
  height: 60vh;
}

.nav2-sub.sub7 {
  width: 100%;
  height: 65vh;
}


/* 해외여행 - 서브메뉴 내부를 배열로 나눔. */
.nav2-sub.sub1 > li,
.nav2-sub.sub3 > li,
.nav2-sub.sub4 > li,
.nav2-sub.sub5 > li, 
.nav2-sub.sub6 > li {
  width: 25%;
  height: 100%;
  padding: 20px 10px;
}

.nav2-sub.sub2 > li {
  width: 33.3%;
  padding: 20px 10px;
  height: 100%;
}

.nav2-sub.sub7 > li {
  width:20%;
  height: 100%;
  padding: 20px 10px;
}

/* 투어입장권 - 서브메뉴 내부를 배열로 나눔. */
.nav2-sub4.ssub2 > li,
.nav2-sub4.ssub4 > li,
.nav2-sub4.ssub5 > li {
  width: 25%;
  height: 100%;
  padding: 20px 10px;
}

.nav2-sub4.ssub1 > li,
.nav2-sub4.ssub3 > li, 
.nav2-sub4.ssub6 > li {
  width: 33.3%;
  height: 100%;
  padding: 20px 10px;
}

.nav2-sub4.ssub7 > li {
  width: 50%;
  height: 100%;
  padding: 20px 10px;
}

/* 제주/국내여행 - 서브메뉴 내부를 배열로 나눔 */
.nav2-sub5.sssub1 > li {
  width: 25%;
  height: 100%;
  padding: 20px 10px;
}

.nav2-sub5.sssub3 > li {
  width: 33.3%;
  height: 100%;
  padding: 20px 10px;
}

/* 해외여행 - 그 배열의 부모 설정 */
.sub1-1,
.sub1-2,
.sub1-3,
.sub1-4,
.sub2-1,
.sub2-2,
.sub2-3, 
.sub3-1, 
.sub3-2, 
.sub3-3, 
.sub3-4,
.sub4-1,
.sub4-2,
.sub4-3,
.sub4-4, 
.sub5-1, 
.sub5-2, 
.sub5-3, 
.sub5-4, 
.sub6-1, 
.sub6-2, 
.sub6-3, 
.sub6-4, 
.sub7-1, 
.sub7-2, 
.sub7-3, 
.sub7-4, 
.sub7-5 { 
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 1.5rem;
  border-right: 1px solid #ddd;
}

/* 투어입장권 - 그 배열의 부모 설정 */
.ssub1-1, 
.ssub1-2,
.ssub1-3,  
.ssub2-1,  
.ssub2-2,  
.ssub2-3,  
.ssub2-4,
.ssub3-1,  
.ssub3-2,  
.ssub3-3,
.ssub4-1,
.ssub4-2,
.ssub4-3,
.ssub4-4,
.ssub5-1,
.ssub5-2,
.ssub5-3,
.ssub5-4,
.ssub6-1,
.ssub6-2,
.ssub6-3,
.ssub7-1,
.ssub7-2,  
.ssub7-3 {  
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 1.5rem;
  border-right: 1px solid #ddd;
}

/* 제주/국내여행 - 그 배열의 부모 설정 */
.sssub1-1, 
.sssub1-2, 
.sssub1-3, 
.sssub1-4,
.sssub3-1,
.sssub3-2,
.sssub3-3 {  
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 1.5rem;
  border-right: 1px solid #ddd;
}

/* 끝의 경계선 없앰. */
.sub1-4,
.sub2-3,
.sub3-4,
.sub4-4,
.sub5-4,
.sub6-4,
.sub7-5 {
  border-right: none;
}

.ssub1-3,
.ssub2-4,
.ssub3-3,
.ssub4-4,
.ssub5-4,
.ssub6-3,
.ssub7-2 {
  border-right: none;
}

.sssub1-4, 
.sssub3-3 {
  border-right: none;
}

/* 해외여행 - ul마다 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.sub1-1 > li > ul,
.sub1-2 > li > ul,
.sub1-3 > li > ul,
.sub1-4 > li > ul,
.sub2-1 > li > ul,
.sub2-2 > li > ul,
.sub2-3 > li > ul, 
.sub3-1 > li > ul, 
.sub3-2 > li > ul, 
.sub3-3 > li > ul, 
.sub3-4 > li > ul, 
.sub4-1 > li > ul, 
.sub4-2 > li > ul, 
.sub4-3 > li > ul, 
.sub5-1 > li > ul,
.sub5-2 > li > ul,
.sub5-3 > li > ul,
.sub5-4 > li > ul,
.sub6-1 > li > ul,
.sub6-2 > li > ul,
.sub6-3 > li > ul,
.sub6-4 > li > ul,
.sub7-1 > li > ul,
.sub7-2 > li > ul,
.sub7-3 > li > ul,
.sub7-4 > li > ul,
.sub7-5 > li > ul {
  padding: 10px 0 30px 0;
}

/* 투어입장권 - ul마다 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.ssub1-1 > li > ul,
.ssub1-2 > li > ul,
.ssub1-3 > li > ul,
.ssub2-1 > li > ul,
.ssub2-2 > li > ul,
.ssub2-3 > li > ul,
.ssub2-4 > li > ul,
.ssub3-1 > li > ul,
.ssub3-2 > li > ul,
.ssub3-3 > li > ul,
.ssub4-1 > li > ul,
.ssub4-2 > li > ul,
.ssub4-3 > li > ul,
.ssub4-4 > li > ul,
.ssub5-1 > li > ul,
.ssub5-2 > li > ul,
.ssub5-3 > li > ul,
.ssub5-4 > li > ul,
.ssub6-1 > li > ul,
.ssub6-2 > li > ul,
.ssub6-3 > li > ul,
.ssub7-1 > li > ul,
.ssub7-2 > li > ul{
  padding: 10px 0 30px 0;
}

/* 제주/국내여행 - ul마다 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.ssub1-1 > li > ul,
.ssub1-2 > li > ul,
.ssub1-3 > li > ul,
.ssub1-4 > li > ul,
.ssub3-1 > li > ul,
.ssub3-2 > li > ul,
.ssub3-3 > li > ul {
  padding: 10px 0 30px 0;
}

/*해외여행 - 자식요소ul이 없는 경우 부모요소에 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.sub1-1 > li:nth-child(2),
.sub1-1 > li:nth-child(3),
.sub1-4 > li:not(:first-child), 
.sub2-1 > li,
.sub3-3 > li:not(:last-child),
.sub5-4 > li:nth-child(2),
.sub6-1 > li,
.sub6-2 > li,
.sub6-3 > li,
.sub6-4 > li {
  padding: 10px 0 30px;
}

.ssub3-3 > li:first-child,
.ssub5-4 > li:first-child,
.ssub6-1 > li:first-child,
.ssub6-2 > li:first-child,
.ssub6-3 > li:first-child,
.ssub6-4 > li:first-child {
  padding: 0 0 30px;
}

.sssub1-1 > li, 
.sssub1-2 > li, 
.sssub1-3 > li, 
.sssub1-4 > li, 
.sssub3-1 > li, 
.sssub3-2 > li, 
.sssub3-3 > li {
  padding: 0 0 30px;
}

/*해외여행 - 자식요소ul이 없는 경우 부모요소에 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.ssub1-1 > li,
.ssub1-2 > li,
.ssub1-3 > li,
.ssub2-1 > li,
.ssub2-2 > li,
.ssub2-3 > li,
.ssub2-4 > li,
.ssub3-1 > li,
.ssub3-2 > li,
.ssub3-3 > li {
  padding: 10px 0 30px;
}

/*제주/국내여행 - 자식요소ul이 없는 경우 부모요소에 패딩값을 주어 일정한 높이만큼 벌어지도록 설정 */
.sssub1-1 > li,
.sssub1-2 > li,
.sssub1-3 > li,
.sssub1-4 > li {
  padding: 10px 0 30px;
}

/*투어입장권 - 배열 정리 */
.ssub1-1 > li:first-child,
.ssub1-2 > li:first-child,
.ssub1-3 > li:first-child, 
.ssub2-1 > li:first-child, 
.ssub2-2 > li:first-child, 
.ssub2-3 > li:first-child, 
.ssub2-4 > li:first-child,
.ssub3-1 > li:first-child,
.ssub3-2 > li:first-child,
.ssub3-3 > li:first-child {
  padding: 0 0 30px;
}

.sssub1-1 > li:first-child, 
.sssub1-2 > li:first-child, 
.sssub1-3 > li:first-child, 
.sssub1-4 > li:first-child, 
.sssub3-1 > li:first-child, 
.sssub3-2 > li:first-child 
.sssub3-3 > li:first-child { 
  padding: 0 0 30px;
}

/* 배열 안에서도 대주제에 호버시 색상변경 */
.sub1-1 > li:hover > a,
.sub1-2 > li:hover > a,
.sub1-3 > li:hover > a,
.sub1-4 > li:hover > a,
.sub2-1 > li:hover > a,
.sub2-2 > li:hover > a,
.sub2-3 > li:hover > a,
.sub3-1 > li:hover > a,
.sub3-2 > li:hover > a,
.sub3-3 > li:hover > a,
.sub3-4 > li:hover > a,
.sub4-1 > li:hover > a,
.sub4-2 > li:hover > a,
.sub4-3 > li:hover > a,
.sub4-4 > li:hover > a,
.sub5-1 > li:hover > a,
.sub5-2 > li:hover > a,
.sub5-3 > li:hover > a,
.sub5-4 > li:hover > a,
.sub6-1 > li:hover > a,
.sub6-2 > li:hover > a,
.sub6-3 > li:hover > a,
.sub6-4 > li:hover > a,
.sub7-1 > li:hover > a,
.sub7-2 > li:hover > a,
.sub7-3 > li:hover > a,
.sub7-4 > li:hover > a,
.sub7-5 > li:hover > a {
  color: #8f32d9;
}

/* 투어입장권 - 배열 안에서도 대주제에 호버시 색상변경 */
.ssub1-1 > li:hover > a,
.ssub1-2 > li:hover > a,
.ssub1-3 > li:hover > a,
.ssub2-1 > li:hover > a,
.ssub2-2 > li:hover > a,
.ssub2-3 > li:hover > a,
.ssub2-4 > li:hover > a,
.ssub3-1 > li:hover > a,
.ssub3-2 > li:hover > a,
.ssub3-3 > li:hover > a, 
.ssub4-1 > li:hover > a, 
.ssub4-2 > li:hover > a, 
.ssub4-3 > li:hover > a, 
.ssub4-4 > li:hover > a, 
.ssub5-1 > li:hover > a, 
.ssub5-2 > li:hover > a, 
.ssub5-3 > li:hover > a, 
.ssub5-4 > li:hover > a, 
.ssub6-1 > li:hover > a, 
.ssub6-2 > li:hover > a, 
.ssub6-3 > li:hover > a, 
.ssub7-1 > li:hover > a, 
.ssub7-2 > li:hover > a {
  color: #8f32d9;
}

/* 소주제의 폰트 사이즈 */
.sub1-1 > li > ul, 
.sub1-2 > li > ul,
.sub1-3 > li > ul,
.sub1-4 > li > ul,
.sub2-1 > li > ul,
.sub2-2 > li > ul,
.sub2-3 > li > ul, 
.sub3-1 > li > ul, 
.sub3-2 > li > ul, 
.sub3-3 > li > ul, 
.sub3-4 > li > ul,
.sub4-1 > li > ul,
.sub4-2 > li > ul,
.sub4-3 > li > ul,
.sub4-4 > li > ul,
.sub5-1 > li > ul,
.sub5-2 > li > ul,
.sub5-3 > li > ul,
.sub5-4 > li > ul, 
.sub6-1 > li > ul, 
.sub6-2 > li > ul, 
.sub6-3 > li > ul, 
.sub6-4 > li > ul,
.sub7-1 > li > ul,
.sub7-2 > li > ul,
.sub7-3 > li > ul,
.sub7-4 > li > ul,
.sub7-5 > li > ul {
  font-size: 12px;
}

/* 투어입장권-소주제 폰트 사이즈 */
.ssub1-1 > li > ul,
.ssub1-2 > li > ul,
.ssub1-3 > li > ul, 
.ssub2-1 > li > ul, 
.ssub2-2 > li > ul, 
.ssub2-3 > li > ul, 
.ssub2-4 > li > ul,
.ssub3-1 > li > ul,
.ssub3-2 > li > ul,
.ssub3-3 > li > ul,
.ssub4-1 > li > ul,
.ssub4-2 > li > ul,
.ssub4-3 > li > ul,
.ssub4-4 > li > ul,
.ssub5-1 > li > ul,
.ssub5-2 > li > ul,
.ssub5-3 > li > ul,
.ssub5-4 > li > ul,
.ssub6-1 > li > ul,
.ssub6-2 > li > ul,
.ssub6-3 > li > ul,
.ssub7-1 > li > ul,
.ssub7-2 > li > ul {
  font-size: 12px;
}

/* 소주제의 폰트 컬러 */
.sub1-1 > li > ul > li > a,
.sub1-2 > li> ul > li > a,
.sub1-3 > li> ul > li > a,
.sub1-4 > li> ul > li > a,
.sub2-1 > li> ul > li > a,
.sub2-2 > li> ul > li > a,
.sub2-3 > li> ul > li > a,
.sub3-1 > li> ul > li > a,
.sub3-2 > li> ul > li > a,
.sub3-3 > li> ul > li > a,
.sub3-4 > li> ul > li > a, 
.sub4-1 > li> ul > li > a, 
.sub4-2 > li> ul > li > a, 
.sub4-3 > li> ul > li > a, 
.sub4-4 > li> ul > li > a,
.sub5-1 > li> ul > li > a,
.sub5-2 > li> ul > li > a,
.sub5-3 > li> ul > li > a,
.sub5-4 > li> ul > li > a,
.sub6-1 > li> ul > li > a,
.sub6-2 > li> ul > li > a,
.sub6-3 > li> ul > li > a,
.sub6-4 > li> ul > li > a,
.sub7-1 > li> ul > li > a,
.sub7-2 > li> ul > li > a,
.sub7-3 > li> ul > li > a,
.sub7-4 > li> ul > li > a,
.sub7-5 > li> ul > li > a {
  color: #555;
}

/* 투어입장권- 소주제의 폰트 컬러 */
.ssub1-1 > li> ul > li > a,
.ssub1-2 > li> ul > li > a,
.ssub1-3 > li> ul > li > a,
.ssub2-1 > li> ul > li > a,
.ssub2-2 > li> ul > li > a,
.ssub2-3 > li> ul > li > a,
.ssub2-4 > li> ul > li > a,
.ssub3-1 > li> ul > li > a,
.ssub3-2 > li> ul > li > a,
.ssub3-3 > li> ul > li > a,
.ssub4-1 > li> ul > li > a,
.ssub4-2 > li> ul > li > a,
.ssub4-3 > li> ul > li > a,
.ssub4-4 > li> ul > li > a,
.ssub5-1 > li> ul > li > a,
.ssub5-2 > li> ul > li > a,
.ssub5-3 > li> ul > li > a,
.ssub5-4 > li> ul > li > a,
.ssub6-1 > li> ul > li > a,
.ssub6-2 > li> ul > li > a,
.ssub6-3 > li> ul > li > a,
.ssub7-1 > li> ul > li > a,
.ssub7-2 > li> ul > li > a {
  color: #555;
}



/* 소주제의 호버시 폰트 컬러 */
.sub1-1 > li > ul > li:hover > a,
.sub1-2 > li> ul > li:hover > a,
.sub1-3 > li> ul > li:hover > a,
.sub1-4 > li> ul > li:hover > a, 
.sub2-1 > li> ul > li:hover > a, 
.sub2-2 > li> ul > li:hover > a, 
.sub2-3 > li> ul > li:hover > a,
.sub3-1 > li> ul > li:hover > a,
.sub3-2 > li> ul > li:hover > a,
.sub3-3 > li> ul > li:hover > a,
.sub3-4 > li> ul > li:hover > a,
.sub4-1 > li> ul > li:hover > a,
.sub4-2 > li> ul > li:hover > a,
.sub4-3 > li> ul > li:hover > a,
.sub4-4 > li> ul > li:hover > a,
.sub5-1 > li> ul > li:hover > a,
.sub5-2 > li> ul > li:hover > a,
.sub5-3 > li> ul > li:hover > a,
.sub5-4 > li> ul > li:hover > a,
.sub6-1 > li> ul > li:hover > a,
.sub6-2 > li> ul > li:hover > a,
.sub6-3 > li> ul > li:hover > a,
.sub6-4 > li> ul > li:hover > a,
.sub7-1 > li> ul > li:hover > a,
.sub7-2 > li> ul > li:hover > a,
.sub7-3 > li> ul > li:hover > a,
.sub7-4 > li> ul > li:hover > a,
.sub7-5 > li> ul > li:hover > a {
  color: #8f32d9;
}

/* 투어입장권 */
.ssub1-1 > li> ul > li:hover > a, 
.ssub1-2 > li> ul > li:hover > a, 
.ssub1-3 > li> ul > li:hover > a,
.ssub2-1 > li> ul > li:hover > a,
.ssub2-2 > li> ul > li:hover > a,
.ssub2-3 > li> ul > li:hover > a,
.ssub2-4 > li> ul > li:hover > a,
.ssub3-1 > li> ul > li:hover > a,
.ssub3-2 > li> ul > li:hover > a,
.ssub3-3 > li> ul > li:hover > a,
.ssub4-1 > li> ul > li:hover > a,
.ssub4-2 > li> ul > li:hover > a,
.ssub4-3 > li> ul > li:hover > a,
.ssub4-4 > li> ul > li:hover > a,
.ssub5-1 > li> ul > li:hover > a,
.ssub5-2 > li> ul > li:hover > a,
.ssub5-3 > li> ul > li:hover > a,
.ssub5-4 > li> ul > li:hover > a,
.ssub6-1 > li> ul > li:hover > a,
.ssub6-2 > li> ul > li:hover > a,
.ssub6-3 > li> ul > li:hover > a,
.ssub7-1 > li> ul > li:hover > a,
.ssub7-2 > li> ul > li:hover > a {
  color: #8f32d9;
}

.contents {
  width: 100%;
  height: 5200px;
  overflow: hidden;
}

.banner1-wrap {
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(122, 46, 141, 0.3);
  width: 100vw;
  height: 750px;
}

/* banner1의 예약 */
.reserve-wrap {
  position: relative;
  left: 15%;
  top: 13%;
  width: 25%;
  height: 80%;
}

/* 예약에 대한 대주제 */
.reserve-wrap > p {
  padding: 15px 5px;
  font-size: 28px;
}

/* 작은 내비게이션 */
.reserve-nav-wrap {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 15px 20px;
}

/* 내비게이션 rist */
.reserve-gnb {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #8f32d9;
}

.reserve-gnb > li {
  width: 33.3%;
  height: 100%;
}

.reserve-gnb > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
}

/* 내비게이션, 서브메뉴 위치 */
.reserve-sub1,
.reserve-sub2,
.reserve-sub3 {
  position: absolute;
  top: 80px;
  width: 92%;
  height: 80%;
  display: none;
}

.reserve-sub2{
  left: 3.5%;
}

.reserve-sub3 {
  left: 3.5%;
}

/* 서브1 */
.reserve-sub1 > input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.reserve-sub1-button1 {
  width: 100%;
  height: 50px;
  margin: 15px 0;
}

.reserve-sub1-button1 > span {
  display: inline-block;
  width: 49.2%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-sub1-button2 {
  width: 100%;
  height: 70px;
  margin: 15px 0;
}

.reserve-sub1-button2 > span {
  display: inline-block;
  width: 49.2%;
  height: 100%;
  padding: 12px 19px;
  text-align: center;
  border: 1px solid #888;
  color: #888;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-sub1-button2 > span:nth-child(1) > i {
  font-size: 50px;
  margin-right: 15px;
}

.reserve-sub1-button2 > span:nth-child(2) > i {
  font-size: 40px;
  margin-right: 15px;
}

.reserve-sub1-button2 > span > p {
  font-size: 14px;
  width: 45%;
  text-align: left;
}

.reserve-sub1-button3 {
  width: 100%;
  height: 70px;
  margin: 15px 0;
}

.reserve-sub1-button3 > p {
  display: block;
  width: 99%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* 서브메뉴2 */
.reserve-sub2-button1 {
  width: 100%;
  height: 30px;
}

.reserve-sub2-button1 > span {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  padding: 3px;
  margin-right: 10px;
}

.reserve-sub2-input {
  width: 100%;
  height: 50px;
  margin: 15px 0;
}

.reserve-sub2-input > input {
  width: 46%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.reserve-sub2-button2 {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: 15px 0;
  font-size: 16px;
}

.reserve-sub2-button2 > span:not(:nth-child(2)) {
  display: inline-block;
  width: 46%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #fff;
}

.reserve-sub2-button2 > span:nth-child(2) {
  display: inline-block;
  width: 5%;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.reserve-sub2-button3 {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 16px;
}

.reserve-sub2-button3 > span:first-child {
  display: inline-block;
  width: 75%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #fff;
}

.reserve-sub2-button3 > span:nth-child(2) {
  display: inline-block;
  width: 23%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #fff;
}

.reserve-sub2-button4 {
  width: 100%;
  height: 70px;
  margin: 15px 0;
}

.reserve-sub2-button4 > p {
  display: block;
  width: 99%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor:pointer;
}

/* 서브메뉴3번 */
.reserve-sub3-input > input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.reserve-sub3-button1 {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 16px;
}

.reserve-sub3-button1 > p {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #fff;
}

.reserve-sub3-button2 {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 16px;
}

.reserve-sub3-button2 > p {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-size: 16px;
  background-color: #fff;
}

.reserve-sub3-button3 {
  width: 100%;
  height: 70px;
  margin: 15px 0;
}

.reserve-sub3-button3 > p {
  display: block;
  width: 99%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor:pointer;
}

/* 슬라이드영역 */
.slidewrap {
  position: absolute;
  right: 15%;
  top: 7%;
  width: 39%;
  height: 82%;
}

.slidewrap > ul {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 15px 5px rgba(117, 96, 101, 0.466);
  overflow: hidden;
}

.slidewrap > ul > li {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidewrap > ul > li > img {
  width: 100%;
  height: 100%;
}

.slidewrap > .pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  display: flex;
  justify-content: center;
  z-index: 1;
  gap:20px;
}

.slidewrap > .pager > a {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid rgba(85,24,85,0.7);
  display: flex;
  border-radius: 50%;
}

.slidewrap > .pager > a.active {
  width: 17px;
  height: 17px;
  background-color: rgba(85, 24, 85, 0.7);
  border: 1px solid #fff;
  display: flex;
  border-radius: 50%;
}

/* 사이드바 */
.sidebar-wrap {
  position: fixed;
  right: 0.001%;
  top: 18.9%;
  width: 130px;
  height: 310px;
  font-size: 14px;
  text-align: center;
  z-index: 0;
}

.side1 {
  border: 1px solid #000;
  width: 100%;
  height: 130px;
  padding: 30px 0;
  background-color: #fff;
  font-weight: bold;
}

.side1 > a > img {
  width: 30%;
  line-height: 0;
}

.side2 {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  line-height: 45px;
}

.side2-con {
  width: 100%;
  height: 100px;
  background-color: #eee;
  display: none;
  padding: 30px 20px;
  color: #888;
  font-size: 12px;
}

.top {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  line-height: 25px;
}

.side2,
.side2-con,
.top{
  border: 1px solid #000;
  border-top: none;
}

.side2-con {
  border-bottom-color: #ccc;
}

.side2 {
  border-bottom-color: #ccc;
}

.side2,
.top {
  cursor: pointer;
}

.con1-wrap {
  position: relative;
  width: 100%;
  height: 550px;
  padding: 50px 15%;
}

.con1-wrap > h3 {
  font-size: 25px;
  padding: 30px 0;
}

.con1 {
  width: 100%;
  height: 75%;
}

.con1 > li {
  width: 22%;
  margin-right: 4%;
}

.con1 > li:nth-child(4) {
  margin-right: 0;
}

.con1 > li > a > p:nth-child(2) {
  font-weight: bold;
}

.con1 > li > a > p:nth-child(3) {
  font-size: 12px;
  font-weight: normal;
}

.con1 > li > a > p:nth-child(5) {
  font-weight: bold;
  font-size: 20px;
}

.con1 > li > a 
 {
  display: block;
  width: 100%;
 }

.con1 > li > a > img
 {
  width: 100%;
  height: 210px;
  margin: 0 0 10px;
 }

 .con2-wrap {
  position: relative;
  padding: 0 15%;
  width: 100%;
  height: 650px;
 }

 .con2-back {
  position: relative;
 }

 .con2-back > h3 {
  position: absolute;
  font-size: 35px;
  color: #fff;
  padding: 40px;
 }

 .con2-back > img {
  position: absolute;
  font-size: 35px;
  color: #fff;
 }

 .con2-button{
  position: absolute;
  color: #fff;
  top: 30%;
  width: 434px;
  height: 370px;
  padding: 40px;
 }

 .con2-button > button{
  display: block;
  color: #000;
  font-weight: bold;
  top: 10%;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
 }

 /* 버튼의 콘텐츠 */
 .con2-button-con1,
 .con2-button-con2,
 .con2-button-con3,
 .con2-button-con4 {
  position: absolute;
  left: 30%;
  width: 55%;
  height: 566px;
  display: none;
 }

 .con2-button-con1 > div,
 .con2-button-con2 > div,
 .con2-button-con3 > div,
 .con2-button-con4 > div  {
  position: relative;
  top: 10%;
  width: 30%;
  margin-right: 5%;
  height: 80%;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(124, 125, 129, 0.466);
 }

 .con2-button-con1 > div:last-child,
 .con2-button-con2 > div:last-child,
 .con2-button-con3 > div:last-child,
 .con2-button-con4 > div:last-child {
  margin-right: 0;
 }

 .con2-button-con1 > div > a,
 .con2-button-con2 > div > a,
 .con2-button-con3 > div > a,
 .con2-button-con4 > div > a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
 }

 .con2-button-con1 > div > a > img,
 .con2-button-con2 > div > a > img,
 .con2-button-con3 > div > a > img,
 .con2-button-con4 > div > a > img   {
  width: 100%;
  height: 240px;
  margin-bottom: 10px;
 }

 .con2-button-con1 > div > a > p, .con2-button-con2 > div > a > p,
 .con2-button-con3 > div > a > p, .con2-button-con4 > div > a > p {
  padding-left: 10px;
 }

 .con2-button-con1 > div > a > P:nth-child(2),
 .con2-button-con2 > div > a > P:nth-child(2),
 .con2-button-con3 > div > a > P:nth-child(2),
 .con2-button-con4 > div > a > P:nth-child(2) {
  color: #8f32d9;
  font-size: 12px;
  font-weight: bold;
  background-color: #eee;
  width: 55px;
  border-radius: 50px;
  margin-bottom: 5px;
 }

 .con2-button-con1 > div > a > P:nth-child(3),
 .con2-button-con2 > div > a > P:nth-child(3),
 .con2-button-con3 > div > a > P:nth-child(3),
 .con2-button-con4 > div > a > P:nth-child(3){
  font-weight: bold;
 }

 .con2-button-con1 > div > a > P:nth-child(4),
 .con2-button-con2 > div > a > P:nth-child(4),
 .con2-button-con3 > div > a > P:nth-child(4),
 .con2-button-con4 > div > a > P:nth-child(4) {
  font-weight: normal;
  font-size: 12px;
  color: #888;
 }

 .con2-button-con1 > div > a > P:nth-child(6), 
 .con2-button-con2 > div > a > P:nth-child(6),
 .con2-button-con3 > div > a > P:nth-child(6), 
 .con2-button-con4 > div > a > P:nth-child(6) {
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
 }


 /* 콘텐츠3번영역 */
.con3-wrap {
  position: relative;
  width: 100%;
  height: 550px;
  padding: 0 15% 50px;
}

/* 콘텐츠3번영역 제목 */
.con3-wrap h3 { 
  font-size: 25px;
  padding: 0 0 30px;
}

.center.slick-initialized.slick-slider {
  width: 100%;
  height: 500px;
}

/* 버튼영역 */
.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 15px;
  top: 17%;
  z-index: 1;
}

.slick-prev.slick-arrow {
  left: -1.9%;
}

.slick-next.slick-arrow {
  right: 0%;
}


.slick-list {
  width: 100%;
}

.slick-slide > img {
  width: 301.06px;
  height: 210px;
  margin-bottom: 30px;
}

.slick-slide.slick-cloned.slick-active > img {
  width: 301.06px;
  height: 210px;
  margin-bottom: 30px;
}

.slick-slide.slick-current.slick-active.slick-center {
  width: 301.06px;
  height: 400px;
}

.slick-slide.slick-current.slick-active.slick-center > img
 {
  width: 301.06px;
  height: 210px;
  margin-bottom: 30px;
}

/* img 2번 */
.slick-slide.slick-current.slick-active.slick-center > p:nth-child(2),
/* img 1번 */
.slick-slide.slick-cloned.slick-active > p:nth-child(2),
/* img 3~5번 */
.slick-slide > p:nth-child(2)
 {
  text-align: center;
  width: 301.06px;
  font-size: 12px;
  font-weight: bold;
  color: #8f32d9;
  margin: 10px 0;
  background-color: #eee;
  width: 55px;
  border-radius: 50px;
}

.slick-slide.slick-current.slick-active.slick-center > p:nth-child(3),.slick-slide.slick-cloned.slick-active > p:nth-child(3), .slick-slide > p:nth-child(3) {
  width: 301.06px;
  font-size: 16px;
  font-weight: bold;
}

.slick-slide.slick-current.slick-active.slick-center > p:nth-child(4),.slick-slide.slick-cloned.slick-active > p:nth-child(4), .slick-slide > p:nth-child(4) {
width: 301.06px;
font-size: 12px;
color: #888;
height: 50px;
}

.slick-slide.slick-current.slick-active.slick-center > p:nth-child(5),
.slick-slide.slick-cloned.slick-active > p:nth-child(5),.slick-slide > p:nth-child(5) {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* 콘텐츠4번영역 */
.con4-wrap {
  position: relative;
  left: 0.1%;
  width: 100%;
  height: 700px;
  background-color: rgba(229, 243, 255, 1);
  padding: 4% 15% 2%;
  overflow: hidden;
}

.con4-ch.slick-initialized.slick-slider.slick-dotted {
  width: 100%;
  height: 100%;
}

/*  */
.slick-list.draggable {
  width: 100%;
  height: 100%;
}

#slick-slide10,
.con4-1.slick-slide.slick-current.slick-active,.con4-1.slick-slide.slick-current.slick-active > ul,
.con4-2.slick-slide.slick-current.slick-active,.con4-2.slick-slide.slick-current.slick-active > ul
 {
  width: 100%;
  height: 100%;
}

.con4-2-1,
.con4-2-2,
.con4-1.slick-slide.slick-current.slick-active > ul > li,
.con4-2.slick-slide.slick-current.slick-active > ul > li  {
 width: 50%;
 height: 100%;
}


#slick-slide10,
.con4-1.slick-slide.slick-current.slick-active > ul > li > a > img,
.con4-2.slick-slide.slick-current.slick-active > ul > li > a > img {
  width: 90%;
 }


/* con4번 dots 영역 */
.slick-dots {
  position: absolute;
  left: 45%;
  bottom: 1%;
  width: 80px;
  height: 30px;}

/* 왼쪽 버튼 */
.slick-dots > li.slick-active {
  float: left;
  width: 50%;
}

/* 오른쪽버튼 */
.slick-dots > li {
  float: left;
  width: 50%;
}

/* 버튼 세부사항 */
li.slick-active > #slick-slide-control21,
li.slick-active > #slick-slide-control20 {
  width: 50%;
  background-color: #000;
  color: #000;
  border-radius: 50px;
  border: none;
}

li > #slick-slide-control21,
li> #slick-slide-control20 {
  width: 15px;
  height: 10px;
  background-color: #ddd;
  color:#ddd;
  border-radius: 50px;
  border: none;
  font-size: 0; }


/* 세부사항 li:첫번째 자식*/
.con4-2-1 > ul > li:first-child,
.con4-2-2 > ul > li:first-child {
  width: 31%;
  height: 10%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #000;
} 

.con4-2-1 > ul > li:first-child {
  width: 25%;
}

.con4-2-2 > ul > li:first-child {
  width: 31%;
}

/* 세부사항 li:두번째 자식*/
.con4-2-1 > ul > li:nth-child(2),
.con4-2-2 > ul > li:nth-child(2) {
  width: 100%;
  height: 20%;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0;
} 

/* 세부사항 li:세번째 자식*/
.con4-2-1 > ul > li:nth-child(3) > ul,
.con4-2-2 > ul > li:nth-child(3) > ul {
  width: 100%;
  height: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  padding-bottom: 20px;
} 

.con4-2-1 > ul > li:nth-child(3) > ul > li,
.con4-2-2 > ul > li:nth-child(3) > ul > li {
  width: 100%;
  font-weight: normal;
  color: #888;
  line-height: 1.5rem;
} 

/* 세부사항 li:네번째 자식 */
.con4-2-1 > ul > li:nth-child(4){
  margin-top: 5px;
} 

.con4-2-2 > ul > li:nth-child(4) {
  margin-top: 0px;
}



.con4-2-1 > ul > li:nth-child(5),
.con4-2-1 > ul > li:nth-child(4),
.con4-2-2 > ul > li:nth-child(4),
.con4-2-2 > ul > li:nth-child(5) {
  width: 100%;
  padding: 20px 0;
  height: 20%;
} 

.con4-2-1 > ul > li:nth-child(5) > a,
.con4-2-1 > ul > li:nth-child(4) > a,
.con4-2-2 > ul > li:nth-child(4) > a,
.con4-2-2 > ul > li:nth-child(5) > a{
  width: 100%; height: 100%;
  display: block;
} 

.con4-2-1 > ul > li:nth-child(5) > a > ul,
.con4-2-1 > ul > li:nth-child(4) > a > ul,
.con4-2-2 > ul > li:nth-child(4) > a > ul,
.con4-2-2 > ul > li:nth-child(5) > a > ul {
  width: 80%;
}

.con4-2-1 > ul > li:nth-child(5) > a > ul > li,
.con4-2-1 > ul > li:nth-child(4) > a > ul > li,
.con4-2-2 > ul > li:nth-child(4) > a > ul > li,
.con4-2-2 > ul > li:nth-child(5) > a > ul > li {
  font-size: 14px;
} 



.con4-2-1 > ul > li:nth-child(5) > a > img,
.con4-2-1 > ul > li:nth-child(4) > a > img,
.con4-2-2 > ul > li:nth-child(4) > a > img,
.con4-2-2 > ul > li:nth-child(5) > a > img {
  width: 102px;
  height: 102px;
  margin-right: 20px;
} 

.con4-2-1 > ul > li:nth-child(5) > a > ul > li:not(:nth-child(2)),
.con4-2-1 > ul > li:nth-child(4) > a > ul > li:not(:nth-child(2)),
.con4-2-2 > ul > li:nth-child(4) > a > ul > li:not(:nth-child(2)),
.con4-2-2 > ul > li:nth-child(5) > a > ul > li:not(:nth-child(2)) {
  font-weight: bold;
} 

.con4-2-1 > ul > li:nth-child(5) > a > ul > li:nth-child(2),
.con4-2-1 > ul > li:nth-child(4) > a > ul > li:nth-child(2),
.con4-2-2 > ul > li:nth-child(4) > a > ul > li:nth-child(2),
.con4-2-2 > ul > li:nth-child(5) > a > ul > li:nth-child(2) {
  color: #666;
} 

.con4-2-1 > ul > li:nth-child(5) > a > ul > li:nth-child(3),
.con4-2-1 > ul > li:nth-child(4) > a > ul > li:nth-child(3),
.con4-2-2 > ul > li:nth-child(4) > a > ul > li:nth-child(3),
.con4-2-2 > ul > li:nth-child(5) > a > ul > li:nth-child(3) {
  padding: 10px 0;
} 

/* 콘텐츠5번 */
.con5-wrap {
  width: 100%;
  height: 650px;
  padding: 50px 15%;
}

.con5-wrap > h3 {
  font-size: 25px;
  padding: 30px 0;
}

.con5-wrap > div {
  margin: 15px;
  height: 70%;
  text-align: center;
}

.con5-wrap > div:nth-child(4) {
  width: 25%;
  margin: 20px;
  height: 70%;
  text-align: center;
}

.con5-wrap > div:not(:nth-child(4)) {
  width: 15%;
  padding: 55px 0;
  height: 70%;
}

.con5-wrap > div > a > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.con5-wrap > div:nth-child(4) > a > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.con5-wrap > div > a > p:nth-child(2) {
  font-weight: bold;
  padding: 10px 0;
}

.con5-wrap > div > a > p:nth-child(3) {
  font-weight: normal;
  font-size: 12px;
  color: #888;
}

/* 콘텐츠6번 */
.con6-wrap {
  width: 100%;
  height: 750px;
  padding: 50px 15%;
  background-color: #444;
  background-image: url(../image/con6/con6bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.con6-wrap > h3 {
  font-size: 25px;
  padding: 30px 0;
  color: #fff;
}

.con6-wrap > div {
  width: 100%;
  height: 80%;
  background-color: #fff;
}

.con6-wrap > div > div {
  height: 100%;
  padding: 2.8%;
}

.con6-wrap > div > div:first-child{
  width: 35%;
}

.con6-wrap > div > div:nth-child(2) {
  width: 40%;
}

.con6-wrap > div > div:nth-child(1){
  width: 35%;
}


.con6-wrap > div > div:nth-child(3) {
  width: 25%;
  padding: 2.8%;
}


.con6-wrap > div > div > p:first-child {
  width: 100%;
  height: 10%;
  font-size: 12px;
  font-weight: bold;
}

.con6-wrap > div > div > p:nth-child(2) {
  width: 100%;
  height: 55%;
  font-size: 12px;
  font-weight: bold;
}

.con6-wrap > div > div > p:nth-child(3) {
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: bold;
}

.con6-wrap > div > div > p:nth-child(4) {
  width: 100%;
  height: 20%;
  font-size: 14px;
  color: #666;
}

.con6-wrap > div > div > p:nth-child(5) {
  width: 100%;
  height: 5%;
  font-size: 12px;
  padding: 10px 0;
}

.con6-wrap > div > div:nth-child(2) > p:nth-child(3) {
  color: #fff;
}

.con6-wrap > div > div:nth-child(2) > p:nth-child(4) {
  color: #fff;
}

.con6-wrap > div > div:nth-child(2) > p:nth-child(5) > a {
  color: #fff;
}

.con6-wrap > div > div:nth-child(2)
{
  background-image: url(../image/con6/con6-2bg.png) ;
  background-size: cover;
}

.con6-wrap > div > div:nth-child(3) > p:nth-child(2) > img {
  border-radius: 50%;
  padding: 0 18px;
}

.con7-wrap {
  width:100%;
  height: 600px;
  background-color: #eee;
  padding: 50px 15%;
}

.con7-wrap > .con7-box1 {
  width: 100%;
  height: 130px;
  text-align: center;
  line-height: 125px;
  margin-bottom: 50px;
}

.con7-wrap > .con7-box1 > li {
  width: 11.1%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
}

.con7-wrap > .con7-box1 > li > a > p {
  color: #ddd;
}

.con7-wrap > .con7-box1 > li:hover > a > p{
  background-color: #8f32d9;
  color: #fff;
  border: 1px solid #ddd;
}


.con7-wrap > .con7-box1 > li:not(:last-child) {
  border-right:none;
}

.con7-wrap > .con7-box2 {
  width: 100%;
  height: 320px;
  background-color: #fff;
  border-top: 2px solid #ddd;
}

.con7-wrap > .con7-box2 > li {
  padding: 20px;
  width: 25%;
  height: 100%;
}

.con7-wrap > .con7-box2 > li > h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.con7-wrap > .con7-box2 > li > div {
  font-weight: bold;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

.con7-wrap > .con7-box2 > li > div > p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5rem;
}

/* footer */
footer {
  width: 100%;
  height: 450px;
  background-color: #fff;
}

footer > div:nth-child(1),
footer > div:nth-child(2) {
  width: 100%;
  height: 50px;
  padding: 10px 15%;
  line-height: 26px;
}

/* fo2 - 공지사항 및 sms */
footer > div:nth-child(2) {
border: 1px solid #ddd;
}

/* fo2 - 공지*/
footer > div:nth-child(2) > div:nth-child(1) {
  width: 5%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

footer > div:nth-child(2) > div:nth-child(2) {
  width: 40%;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer > div:nth-child(2) > div:nth-child(2) > div > a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* fo2 - sms */
footer > div:nth-child(2) > div:nth-child(3) {
  width: 5%;
  text-align: left;
  font-size: 12px;
}

footer > div:nth-child(2) > div:nth-child(3) > a {
  color: #666;
}

footer > div:nth-child(2) > div:nth-child(4) {
  width: 17%;
  text-align: left;
  font-size: 12px;
}

footer > div:nth-child(2) > div:nth-child(4) > img {
  height: 100%;
  margin-right: 3%;
}

/* fo3 */
footer > div:nth-child(3) {
  width: 100%;
  height: 250px;
  padding: 20px 15%;
  font-size: 12px;
}


/* fo3 - li:left */
footer > div:nth-child(3) > ul > li:first-child {
  width: 80%;
  height: 100%;
}

footer > div:nth-child(3) > ul > li:first-child > .rule  {
  width: 100%;
  height: 30px;
  font-weight: bold;
}

footer > div:nth-child(3) > ul > li:first-child > ul:not(:nth-child(1)) > li {
  margin: 5px 0 ;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

footer > div:nth-child(3) > ul > li:first-child > ul:not(:nth-child(1)) > li:last-child {
  border-right: none;
}

footer > div:nth-child(3) > ul > li:first-child > ul:nth-child(6) > li:first-child {
  border-right: none;
}

footer > div:nth-child(3) > ul > li:first-child > .rule > li > a  {
  padding: 0 15px;
  border-right: 1px solid #ddd; }

 footer > div:nth-child(3) > ul > li:first-child > .rule > li:last-child > a  {
    border-right: none; }

 footer > div:nth-child(3) > ul > li ul:nth-child(6) > li {
  font-weight: bold;
  color: #8f32d9;}
  

/* fo3 - li:right */
/* 하나투어 구매안전 서비스 */
footer > div:nth-child(3) > ul > li:nth-child(3) {
  width: 20%;
  height: 100%;
}

footer > div:nth-child(4) {
  width: 100%;
  height: 100px;
  background-color: #ddd;
  padding: 0 15%;
}

footer > div:nth-child(4) > div:first-child {
  width: 70%;
  height: 100px;
  background-color: #ddd;

}

footer > div:nth-child(4) > div:nth-child(2) {
  width: 30%;
  height: 100px;
  background-color: #ddd;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track >.slick-slide.slick-current.slick-active > img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}


.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track >.slick-slide.slick-active > img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track > .slick-slide > img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}


.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track > .slick-slide.slick-cloned > img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track >.slick-slide.slick-current.slick-active > span {
  width: 150px;
  height: 50px;
  margin: 25px 0;
  font-size: 10px;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track >.slick-slide.slick-active > span {
  width: 150px;
  height: 50px;
  margin: 25px 0;
  font-size: 10px;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track > .slick-slide > span {
   width: 150px;
   height: 50px;
   margin: 25px 0;
   font-size: 10px;
}

.fo4-1.fl.slick-initialized.slick-slider > .slick-list.draggable > .slick-track > .slick-slide.slick-cloned > span {
  width: 150px;
  height: 50px;
  margin: 25px 0;
  font-size: 10px;
}

.fo4.clear {
  position: relative;
  left: 0;
}

.fo4-1.fl.slick-initialized.slick-slider >
.slick-prev.slick-arrow {
  position: absolute;
  left: 100%;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 0;
}

.fo4-1.fl.slick-initialized.slick-slider >
.slick-next.slick-arrow {
  left: 100%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 0;
}

/* fo4의 고정스티커 */
.fo4-2.fl > img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
}